@{
    ViewData["Title"] = "Home Page";
}

<style>
    

    /* Bottom left text */
    .cincinnati {
          position: absolute;
          bottom: 800px;
          left: 500px;
          z-index: 2;
          font-size: 40px;
          font-family: 'Copperplate Gothic';
          font-weight: bold;
    
    }

    /* Top left text */
    .queen {
          position: absolute;
          top: 500px;
          left: 56px;
          z-index: 2;
          align-content: center;
          text-align: center;
    }

   

</style>
<div class="container">
    <div class="mt-4 p-5 pb-3 bg-danger text-white rounded text-center">
        <h1 class="font-weight-bold jumboTitle">Home</h1>
        <p>On this website you will be able to learn more about <span class="auto-type"></span></p>
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
        <script>
            var typed = new Typed(".auto-type", {
                strings: ["Cincinnati's Employees", "Us", "parts of the Cincinnati Economy", "Cincinnati Tourist Attractions"],
                typeSpeed: 80,
                backSpeed: 80,
                loop: true
            })
        </script>

    </div>


    <br />

    

    <div class="row">
        <div class="col-md-12">
            <img style='width:100%; height:100%; margin-right:10px;' src="~/css/homePageImages/cincinnati_image2.jpg" />
            <div class="cincinnati">Cincinnati</div>
            <div class="queen">The Queen City</div>
          
        </div>
   </div>

</div>
   

    
   
         

      
